h1,h2,h3,h4,h5,h6,p,ul{padding: 0; padding: 0;}
body{background: grey;color: white; font-family: cursive; font-size: 15px;}
a{text-decoration: none;}
li{list-style: none;}
header{background: green; text-align: center;color: white;padding: 2%}
.menubar{background: blue;}
.menubar ul{display: flex;flex-direction: row;flex-flow: nowrap;justify-content: flex-end;}
.menubar ul li{padding: 1%;margin: 0.1%;}
.menubar ul li a{color: white;}
.menubar ul li:hover{background: white;}
.menubar ul li:hover a{color: black;}
section{background: red;display: flex;padding: 0%;
         justify-content: space-around;}
.education{background: lightgreen;width: 30%;padding: 1%}
.experience{background: lightgreen;width: 30%;padding: 1%}
.contact{background: lightgreen;width: 30%;padding: 1%}
.footer{background: lightgreen;display: flex;justify-content: space-between;}
.copyright{width: 48%;padding: 1%}
.develop{width: 48%;text-align: right;background: white;padding: 1%}
@media all and (max-width:600px){
  .menubar ul{
    flex-flow: column nowrap;
    }
  section{
    flex-flow: column nowrap;
  }
  .article{
    width: 96%;padding: 2%;margin-bottom: 2%
  }
  footer{flex-flow: column nowrap; }
  .copyright,.develop{
    width: 96%;padding: 2%;margin-bottom: 2%;text-align: left;
  }
}
